<div class="container">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-10">
      <uib-tabset>
        <uib-tab heading="Vos Groupes">
          Gestion des groupes de {{vm.user.uid}}
          <form>
            <input ng-model="search.name" placeholder="Recherche sur le nom">
          </form>

          <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="app/account/settings/dirPagination.tpl.html"></dir-pagination-controls>
          <br>
          <table class="table table-striped ">
            <tr dir-paginate="group in vm.groups | orderBy:'name'| filter:search:strict  |  itemsPerPage :'12'">
              <td>
                <button class="btn btn-success btn-xs" type="button" ng-if="vm.isMemberOf(group)" ng-click="vm.delusergroup(group)">
                  <span class="glyphicon glyphicon-star"></span>Désinscrire
                </button>

                <button class="btn btn-warning btn-xs" type="button" ng-if="!vm.isMemberOf(group)" ng-click="vm.addusergroup(group)">
                  <span class="glyphicon glyphicon-star"></span>Inscrire
                </button>
              </td>
              <td>
                <strong>{{group.name}}</strong>
              </td>
              <td>
                {{group.info}}
              </td>
              <td ng-switch="group.type">
                <strong ng-switch-when="0">Ouvert</strong>
                <strong ng-switch-when="5">Modéré</strong>
                <strong ng-switch-when="10">Réservé</strong>
                <strong ng-switch-default>{{group.type}}</strong>
              </td>
              <td> Membre(s): {{group.participants.length}}
              </td>
            </tr>
          </table>



        </uib-tab>
      </uib-tabset>
    </div>
  </div>
</div>
