<div ng-show="!$ctrl.isLoggedIn()">
  <header class="hero-unit" id="banner">
    <div class="container">
      <h1>Libre Communauté </h1>
      <p class="lead">ECO-système Libre </p>
      <img src="assets/images/LogoPLLPt.png " alt="Pôle Logiciels Libres">
    </div>
  </header>
  <center>
    pour utiliser ce service.<br> Vous devez avoir un compte<br>
    <a href="http://localhost:3000">Libre-Communauté
  </center></a>

</div>
<div class="container" ng-if="$ctrl.isLoggedIn()">
  <div class="row">
    <div class="col-lg-12">
      <h3>Informations:</h3>
      <div class="alert alert-success" ng-if="$ctrl.getCurrentUser().isactif">
        <span ng-if="$ctrl.getCurrentUser().memberOf.length > 0">Vous êtes inscrit dans : </span>
        <ul>
          <li ng-repeat=" grp in $ctrl.getCurrentUser().memberOf">
            {{grp.info}}
            <button ng-click="$ctrl.openNote(grp)">Informations </button>
            <button ng-click="openPad(grp)">PAD</button>

          </li>
        </ul>
      </div>
      <div ng-if="false">Agenda de vos groupes
        <button ng-click="refreshEvents()">Recharger </button>
        <div ui-calendar="uiConfig.calendar" id="calendar" class="span8 calendar" ng-model="eventSources" calendar="myCalendar" calendar-watch-event="watchColor"></div>
      </div>

      <div init-toolbar="">

      </div>

      <div class="alert alert-success" align="center" ng-if="alert.msg"> {{alert.msg}}</div>
    </div>
    <div class="alert alert-warning" ng-if="!$ctrl.getCurrentUser().isactif"> Votre compte est en attende de validation par le modérateur </div>
  </div>

</div>
<div ng-include="'components/footer/footer.html'"></div>
<script type="text/ng-template" id="modalNote.html">
  <h3 class="modal-title"> Note du groupe: {{NC.groupe.info}}
    <button class="glyphicon glyphicon-remove pull-right" ng-click="NC.cancel()">
        </button></h3>
  <div class="modal-body">
    <div ng-show="NC.isAdminOf(NC.groupe)">

      <div ckeditor="options" ng-model="NC.groupe.note">
      </div>
      <div class="modal-footer">
        <div class="alert alert-success" align="center" ng-if="msg"> {{msg}}
        </div>
        <button class="glyphicon glyphicon-save" ng-click="NC.save()">
            </button>
      </div>
    </div>
    <div ng-show="!NC.isAdminOf(NC.groupe)">
      <div ng-bind-html="NC.groupe.note"></div>
    </div>

  </div>
</script>
